{{#postings}}
    <h4>Apply for {{title}} at {{company}}</h4>


    <form action="/applicants/{{_id}}" method="post">
        <label for="name">Full Name</label>
        <input type="text" id="name" name="applicantName">

        <label for="email">Email Address</label>
        <input type="text" id="email" name="applicantEmail">

        <label for="resume">Resume</label>
        <input type="text" id="resume" name="applicantResume">

        <input type="submit" value="Apply">
    </form>


    <a href="javascript:history.back()">Cancel</a>

{{/postings}}