{{#postings}}
    <h4>Apply for {{title}} at {{company}}</h4>
{{/postings}}

    <form action="/postings/{{_id}}/applicants" method="post">
        <label for="name">Full Name</label>
        <input type="text" id="name" name="applicantName">

        <label for="email">Email Address</label>
        <input type="email" id="email" name="applicantEmail">

        <label for="resume">Resume</label>
        <input type="text" id="resume" name="applicantResume">

        <input type="submit" name="name" value="Apply to this job">
    </form>


    <a href="javascript:history.back()">Cancel</a>

