{{#if newError}}
    <h1>{{newError}}</h1>
{{/if}}


<h4>Create Posting</h4>

<form action="/" method="post">
    <label for="title">Job Title</label>
    <input type="text" id="title" name="title"/>

    <label for="company">Company Name</label>
    <input type="text" id="company" name="company"/>

    <label for="description">Job Description</label>
    <textarea type="text" id="description" name="description" rows="8" cols="40"></textarea>

    <label for="responsibilities">Responsibilities</label>
    <textarea type="text" id="responsibilities" name="responsibilities" rows="8" cols="40"></textarea>

    <!--<div class="hidden-open-status">-->
        <!--<label for="positionOpen">Is this position open?</label>-->
        <!--<input type="radio" name="isOpen" value="true" checked="true">Open-->
        <!--<input type="radio" name="isOpen" value="false">Closed-->
        <!--</label>-->
    <!--</div>-->

    <input type="submit" value="Create Posting"/> || <a href="/">Cancel</a>
</form>
